<p>start-flow: indítható folyamatok választható menü</p>
<h2>1. Munkáltató értesítése</h2>
<!-- #munkáltató értesítés harmonika -->
<mat-accordion>
    <!-- értesítés-panel -->
    <mat-expansion-panel hideToggle>
      <!-- személyes adatok panel -->
      <mat-expansion-panel-header>

        <mat-panel-title>
          1.1 Személyes adatok változása (űrlap)
        </mat-panel-title>
        <mat-panel-description>
          Válasszon egyet az űrlapok közül!
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>1.1.1 Névváltozás bejelentése űrlap</p>
      <p>1.1.2 Családi állapot változás bejelentése űrlap</p>
      <p>1.1.3 Egyéb személyes adat változás bejelentése űrlap</p>

    </mat-expansion-panel>
    <!-- egyéb adatváltozás panel -->
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          1.2 Egyéb értesítés
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
</mat-accordion>
<!-- munkáltató értesítés harmonika vége -->

<h2>2. Kérelem benyújtás</h2>

<!--  kérelem harmonika -->
<mat-accordion>
  <!-- szabadság panel -->
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          2.1 Szabadság kérelem
        </mat-panel-title>
        <mat-panel-description>
          Válasszon egyet az űrlapok közül!
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>2.1.1 Normál szabadság kérelem űrlap</p>
      <p>2.1.2 Fizetés nélküli szabadság kérelem űrlap</p>
      <p>1.1.3 Egyéb személyes adat változás bejelentése űrlap</p>

    </mat-expansion-panel>
    <!-- támogatás panel -->
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          2.2 Támogatás kérelem
        </mat-panel-title>
        <mat-panel-description>
          Válasszon egyet az űrlapok közül!
        </mat-panel-description>
      </mat-expansion-panel-header>

      <p>2.2.1 Temetési támogatás kérelem űrlap</p>
      <p>2.2.2 Egyéb támogatás iránti kérelem űrlap</p>

    </mat-expansion-panel>
  </mat-accordion>

<h2>3. Kérelem, értesítés, saját fájl feltöltése</h2>
<!-- fájlfeltöltés harmonika -->
<mat-accordion>
<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      3.1 Kitöltött űrlap feltöltése
    </mat-panel-title>
  </mat-expansion-panel-header>
</mat-expansion-panel>
<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      3.2 Saját fájl feltöltése
    </mat-panel-title>
  </mat-expansion-panel-header>
</mat-expansion-panel>
</mat-accordion>




